.delivery-form {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-default);
  width: 100%;
}

.delivery-form .row-group {
  display: flex;
  gap: var(--spacing-default);
  width: 100%;
}

.delivery-form .row-group .form-group {
  flex: 1;
}

@media (max-width: 480px) {
  .delivery-form .row-group {
    flex-direction: column;
  }
}
